<div class="contenedor">
  <br /><br />
  <ion-text
    ><h2>Últimos <span>PROYECTOS</span></h2>
  </ion-text>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-hover">
          <h5 class="card-title">Panel MariscalDev</h5>
          <p class="card-text">
            Proyecto de Panel con accesos directos que utilizo frecuentemente
          </p>
        </div>
        <img
          src="../../../assets/proyectos/Mariscaldev_Panel2.png"
          class="card-img-top"
          alt="Imagen 1"
        />
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-hover">
          <h5 class="card-title">Notas APP</h5>
          <p class="card-text">
            Aplicativo móvil Android, para guardar notas rápidas.<br />Angular/Ionic.
          </p>
        </div>
        <img
          src="../../../assets/proyectos/notasAPP.png"
          class="card-img-top"
          alt="Imagen 1"
        />
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-hover">
          <h5 class="card-title">Futuro Proyecto</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            Subtítulo de la Imagen 1
          </h6>
          <p class="card-text">Descripción de futuro proyecto.</p>
        </div>
        <img
          src="../../../assets/proyectos/construccion.png"
          class="card-img-top"
          alt="Imagen 1"
        />
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-hover">
          <h5 class="card-title">Futuro Proyecto</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            Subtítulo de la Imagen 1
          </h6>
          <p class="card-text">Descripción de futuro proyecto.</p>
        </div>
        <img
          src="../../../assets/proyectos/construccion.png"
          class="card-img-top"
          alt="Imagen 1"
        />
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-hover">
          <h5 class="card-title">Futuro Proyecto</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            Subtítulo de la Imagen 1
          </h6>
          <p class="card-text">Descripción de futuro proyecto.</p>
        </div>
        <img
          src="../../../assets/proyectos/construccion.png"
          class="card-img-top"
          alt="Imagen 1"
        />
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-hover">
          <h5 class="card-title">Futuro Proyecto</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            Subtítulo de la Imagen 1
          </h6>
          <p class="card-text">Descripción de futuro proyecto.</p>
        </div>
        <img
          src="../../../assets/proyectos/construccion.png"
          class="card-img-top"
          alt="Imagen 1"
        />
      </div>
    </div>
    <!-- Repite estas tarjetas para cada una de las 6 imágenes -->
  </div>
  <br /><br />
</div>
