<ion-header>
  <ion-toolbar>
    <!-- Logo en el lado izquierdo -->
    <app-logo></app-logo>

    <!-- Pestañas en el lado derecho -->
    <ion-buttons slot="end">
      <ion-button (click)="scrollTo('home')">Home</ion-button>
      <ion-button (click)="scrollTo('about')">About</ion-button>
      <ion-button (click)="scrollTo('portfolio')">Portfolio</ion-button>
      <ion-button (click)="scrollTo('contact')">Contact</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Contenido de la página -->
  <!-- Agrega las secciones 'home', 'about', 'portfolio' y 'contact' aquí -->
  <div id="home">
    <h1>HOLA MUNDO</h1>
  </div>

  <div id="about">
    <h1>HOLA MUNDO</h1>
  </div>

  <div id="portfolio">
    <h1>HOLA MUNDO</h1>
  </div>

  <div id="contact">
    <h1>HOLA MUNDO</h1>
  </div>
</ion-content>
