<section class="inicio" id="inicio">
  <div class="row justify-content-center align-items-center">
    <div class="inicio-contenido col-lg-8">
      <h3>Hola, mi nombre es:</h3>
      <h1>➣<span class="nombre"></span></h1>
      <h3>Y soy <span class="titulo"></span></h3>
      <div class="redes-sociales">
        <a href="#"><ion-icon name="logo-github"></ion-icon></a>
        <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
        <a href="#"><ion-icon name="logo-linkedin"></ion-icon></a>
        <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
      </div>
      <a href="#" class="btn">Descargar CV</a>
    </div>
    <div class="inicio-img col-lg-4">
      <img
        src="../../../assets/perfil2.jpg"
        alt="Mi Perfil"
        class="img-fluid"
      />
    </div>
  </div>
</section>
